/*@font-face {*/
    /*font-family: AlibabaPuHui;*/
    /*src: url("../fonts/AlibabaPuHuiTi-2-55-Regular.ttf") format("truetype");*/
    /*font-weight: normal;*/
/*}*/

@font-face {
    font-family: AlibabaPuHui;
    font-weight: normal;
    src: url('//at.alicdn.com/t/webfont_6idbzhh8wv8.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_6idbzhh8wv8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_6idbzhh8wv8.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_6idbzhh8wv8.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_6idbzhh8wv8.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_6idbzhh8wv8.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}

@font-face {
    font-family: AlibabaPuHui;
    src: url("https://cdn.yourtheme.cn/AlibabaPuHuiTi-2-95-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}

/*@font-face {*/
/*    font-family: AlibabaPuHui;*/
/*    font-weight: bold;*/
/*    src: url('//at.alicdn.com/t/webfont_no5wpyz9xfe.eot'); !* IE9*!*/
/*    src: url('//at.alicdn.com/t/webfont_no5wpyz9xfe.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*    url('//at.alicdn.com/t/webfont_no5wpyz9xfe.woff2') format('woff2'),*/
/*    url('//at.alicdn.com/t/webfont_no5wpyz9xfe.woff') format('woff'), !* chrome、firefox *!*/
/*    url('//at.alicdn.com/t/webfont_no5wpyz9xfe.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
/*    url('//at.alicdn.com/t/webfont_no5wpyz9xfe.svg#Alibaba-PuHuiTi-Bold') format('svg'); !* iOS 4.1- *!*/
/*}*/

@keyframes bounce {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}

*, *::before, *::after {
    box-sizing: border-box !important;
}

/* titillium-web-regular */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: bold;
    src: url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web'), local('TitilliumWeb-Normal'),
    url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/titillium-web/titillium-web-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: regular;
    src: url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCode Pro-Normal'),
    url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/source-code-pro/source-code-pro-regular.svg#SourceCode Pro') format('svg'); /* Legacy iOS */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.description {
    font-size: 16px !important;
}